a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.effect-3 {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  &:before

{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: $hover;
  transform: translateX(-100%);
}

&:hover:before {
  transform: translateX(0);
}
}
